In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Attendance.csv")

In [5]:
df

     Name         Time Unnamed: 2
0     OAK   17:01:2021   10:35:48
1    PING   17:01:2021   10:35:52
2  JAREAN   17:01:2021   10:35:55
3    KRIT   17:01:2021   10:35:55
4     PUN   14:02:2021   13:55:55

In [ ]:
df.